* {
    margin: 0px;
    box-sizing: border-box;
}

form {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #0D1E30;
}

.titlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0D1E30;
    color: #fff;
}

.titlePage>h1 {
    text-align: center;
    font: 45px;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.formularioCER > div{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #E6E6E6;
    color: #000000;
    padding: 30px 300px 50px 300px;
}

.formularioCER > div > label{
    margin-top: 15px;
}

.formularioCER > div > input{
    height: 35px;
    width: 200px;
    border: 0;
    border-radius: 2px;
}

.laranja {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 70px;
    background-color: #D53620;
    border: 0px;
    color: ffffff;
    width: 133px;
    height: 40px;
}

.azul {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 70px;
    background-color: #0D1E30;
    border: 0px;
    color: #ffffff;
    width: 133px;
    height: 40px;
}



.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    margin-top: 15px;
}

textarea {
    height: 100px;
    width: 900px;
    border: 0;
}

.upload-image {
  display: flex;

}

.upload-message {
  margin-right: 10px;
   display: flex;
   margin-right: 500px;
}

.upload-buttom-image {
  text-align: center;
  margin: auto;
    padding-left: 100px;
}
