
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.row
{
--bs-gutter-x: 0rem;
}

.btn {
    border-radius: 25px;
    width:127px;
    height:39px;
    font-size: 1rem;
    line-height: 1.5;
}

#info-content {
    margin-bottom: 5em;
    padding: 5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#info-numbers {
    margin: 1.5em 0;
}



#info-banner {
     margin-bottom: 4em;
     padding: 4em 1em;

}

#info-numbers h4 {
    font-size: 1.05em;
}

#info-numbers p {
    font-size: 1.05em;
}
.font-descricao
{
    font-size: 1.05em;
}


@media(min-width: 768px) {
    #info-content {
        padding: 3.5em;


    }
}

.logoIMG {
    width: 80px;
}

.col-md-7
{
    width: 45.0%;
}

#footer {
    padding: 1.5em 0.5em;
}

#footer-top {
    margin-bottom: 2em;
}

#footer-top, footer-top i {
    color: #fff;
}

#social-icons {
    text-align: center;
}

#social-icons i {
    margin-left: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons i:hover {
    color: #D53620;
    transition: 0.3s;
}

#arrow-up {
    text-align: left;
}

#arrow-up i {
    cursor: pointer;
    font-size: 3em;
    margin-left: 380px;
}

.col-md-7
{
    width: 58.333%;
}


.hover-zoomin img {

      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .hover-zoomin:hover img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }




    .wrapper
    {
    	padding-bottom: 90px;
    }

    .divider
    {
    	position: relative;
    	margin-top: 90px;
    	height: 1px;
    }

    .div-transparent:before
    {
    	content: "";
    	position: absolute;
    	top: 0;
    	left: 5%;
    	right: 5%;
    	width: 90%;
    	height: 1px;
    	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
    }


.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: #0D1E30;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}















