* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-size: 40px;
    background-color: #0D1E30;

}

div {
    overflow: hidden;
}

.logo {
    width: 300px;
}

.divHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    background-color: #0D1E30;
    color: #fff;
    padding: 0px;
    margin: 20px 20px 0px 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.menu>a {
    font: 18px Font1;

}

.menu a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu2 {
    font: 18px Font1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 450px;
    align-items: center;
    position: relative;
    margin-right: 350px;
    margin-left: 350px;
}

.titlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0D1E30;
    color: #fff;
}

.titlePage>h1 {
    text-align: center;
    font: 45px Font2;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hrHeader {
    height: 1.5px;
    border: none;
    background-color: #dbdee1;
    opacity: .5;
    width: 1600px;
    margin: 0px;
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin-left: 600px;

}

.branca {
    background-color: #fff;
}

.branca>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 250px 25px 250px;
    background-color: #fff;

}

.branca>div>h2 {
    text-align: left;
    font: 30px Font2;
    color: #D53620;
    width: 1600px;
}

.branca>div>hr {
    height: 1.5px;
    border: none;
    background-color: #D53620;
    width: 700px;
    margin: 0px;
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin-right: 800px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.branca_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    align-items: center;
    position: relative;
}

.branca_2>p {
    font: 18px Font1;
    margin-left: 50px;
}

.branca>div>p {
    font: 18px Font1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.branca_2>img {
    width: 350px;
}

.cinza {
    background-color: #E6E6E6;
}

.cinza>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 250px 25px 250px;
}

.cinza>div>h2 {
    font: 30px Font2;
    color: #30C2FE;
    text-align: end;
    width: 1020px;
}

.cinza>div>hr {
    height: 1.5px;
    border: none;
    background-color: #30C2FE;
    width: 1000px;
    margin: 0px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-left: 400px;
    margin-bottom: 20px;
}

.cinza>div>p {
    font: 18px Font1;

}

.cinza_2>img {
    width: 300px;
}

.cinza_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    align-items: center;
    position: relative;
    margin: 25px 0px 25px 0px;
}

.cinza_2>p {
    font: 18px Font1;
    margin-right: 40px;
}



.buttons {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 50px 100px 50px 100px;
    justify-content: space-around;
}

.contato:hover {
    background-color: #436891;
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.encontre:hover {
    background-color: #dd9288;
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.contato {
    display: flex;
    flex-direction: row;
    background-color: #0D1E30;
    color: #fff;
    width: 100px;
    font: 18px Font1;
    border-radius: 10px;
    align-items: center;
    transition: 0.5s;
    padding-left: 15px;
}

.encontre {
    display: flex;
    flex-direction: row;
    background-color: #D53620;
    color: #fff;
    width: 190px;
    font: 18px Font1;
    border-radius: 10px;
    align-items: center;
    transition: 0.5s;
    padding-left: 20px;
    border-color: #D53620;
    height: 40px;
}

.footerr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1480px;
    align-items: center;
    margin: 20px;
}

.telefone {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.telefone>p {
    color: #fff;   
    font: 18px Font1;
    margin-left: 5px;
}

.whatsapp {
    display: flex;
    flex-direction: row;
    align-items: start;
    color: #fff;
    font: 18px Font1;
}

.whatsapp>img {
    width: 30px;
}

.fiquePorDentro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.fiquePorDentro>p {
    font: 18px Font2;
}

.redesSociais {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redesSociais>svg {
    margin: 15px;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}